


.top-tiltle{
    padding: 10px 0;
}
.top-tiltle-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-layout{
    display: flex;
    flex-direction: row;
}
.wuming{
    width: calc(50%);
    padding: 0 10px 0 0;
}

.ip-info{
    width: calc(50%);
}
.bottom-layout{
    margin: 10px 0;
}
